# Dependencies
node_modules/**

# Build output
out/test/**
out/**/*.map
samples/**

# Source files
src/**

# Development tool configuration
.vscode/**
.vscode-test/**
.gitignore
.prettierignore
**/tsconfig.json
**/prettier.config.js
**/.vscode-test.*

# Project documentation
vsc-extension-quickstart.md
DEVELOPMENT.md