@layer base, module, utilities;

@layer base {
  :root {
    --bg: oklch(0.24 0.00003 271);
    --surface: oklch(0.27 0.00003 286);
    --surface-hover: oklch(0.3 0.00003 271);
    --surface-glass: oklch(0.24 0.00003 271 / 0.851);
    --border: oklch(0.36 0.00003 271);
    --border-light: oklch(1 0.00003 271 / 0.2);
    --text-primary: oklch(0.9 0.0001 271);
    --text-secondary: oklch(0.74 0.00008 271);
    --accent: oklch(0.66 0.17941 254);
    --accent-hover: oklch(0.72 0.14568 251);
    --badge-bg: oklch(0.32 0.00004 271);
  }

  html {
    box-sizing: border-box;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: 0.5px;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    background: var(--bg);
    color: var(--text-primary);
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }

  button {
    font-family: inherit;
    font-size: 100%;
  }
}

@layer utilities {
}
